    @media (max-width: 1680px) {
      .grid {
        max-width: 100%;
      }
      .column_5_mobile {
        display: none;
      }
      .column_1_mobile {
        display: none;
      }
      .column_2_mobile {
        display: none;
      }
      .column_3_mobile {
        display: none;
      }
      .column_3_mobile {
        display: none;
      }
      .column_1_tablet {
        display: none;
      }
    }
    @media (max-width: 1440px) {
      .grid {
        max-width: 100%;
      }
      .column_5_mobile {
        display: none;
      }
      .column_1_mobile {
        display: none;
      }
      .column_2_mobile {
        display: none;
      }
      .column_3_mobile {
        display: none;
      }
      .column_3_mobile {
        display: none;
      }
      .column_1_tablet {
        display: none;
      }
    }
    @media (max-width: 1366px) {
      .grid {
        max-width: 100%;
      }
      .column_5_mobile {
        display: none;
      }
      .column_1_mobile {
        display: none;
      }
      .column_2_mobile {
        display: none;
      }
      .column_3_mobile {
        display: none;
      }
      .column_3_mobile {
        display: none;
      }
      .column_1_tablet {
        display: none;
      }
    }
    @media (max-width: 1280px) {
      .grid {
        max-width: 100%;
      }
      .column_1_tablet {
        display: none;
      }
      .column_5_mobile {
        display: none;
      }
      .column_3_mobile {
        display: none;
      }
      .grid h1 {
        transform: scale(1.2);
      }
      .column_3_mobile {
        display: none;
      }
      .column_2_mobile {
        display: none;
      }
      .column_1_mobile {
        display: none;
      }
      .grid h1 {
        padding-top: 10%;
      }
      .sq1 {
        width: 80%;
      }
      .sq2 {
        width: 0%
      }
    }
    @media (max-width: 1024px) {
      .container_4 {
        height: 33%;
        margin: -36% 6%;
        padding: 17% 2%;
        background-color: #166A81;
      }
      .container_4 p {
        padding-top: 0%;
      }
      .container_3 {
        margin: -59% 6%;
        background-color: #166A81;
      }
      .container_2 {
        margin: -151% 6%;
      }
      .grid {
        max-width: 100%;
      }
      .column_5_mobile {
        display: none;
      }
      .column_3_mobile {
        display: none;
      }
      .column_5_2 {
        display: none;
      }
      .column_3_mobile {
        display: none;
      }
      .column_1_mobile {
        display: none;
      }
      .column_2_mobile {
        display: none;
      }
      .column_1 {
        height: 22%;
      }
      .column_2 {
        height: 40%;
      }
      .column_2_1 {
        height: 40%;
      }
      .column_3 {
        height: 20%;
        width: 100%;
      }
      .column_4 {
        height: 40%;
      }
      .column_4_1 {
        height: 40%;
      }
      .column_5 {
        height: 40%;
      }
      .sq3 {
        width: 0%;
      }
      .sq1 {
        width: 100%;
      }
      .ball_1 {
        width: 80%;
        height: 80%;
        margin-top: 7%;
        margin-left: -70%;
      }
      .ball_2 {
        width: 80%;
        height: 80%;
        margin-top: -1%;
        margin-left: -41%;
      }
      .ball_3 {
        width: 80%;
        height: 80%;
        margin-top: 7%;
        margin-left: -11%;
      }
      .grid h1 {
        padding-top: 7%;
      }
      .sq6 {
        width: 0%;
      }
      .sq10 {
        width: 100%;
      }
      .sq7 {
        background-color: #662527;
        width: 40%;
      }
      .sq5 {
        width: 60%;
      }
      .nose {
        margin-top: 24%;
      }
      .mouth {
        margin-top: -42%;
      }
      .sq11 {
        width: 0%;
      }
      .sq12 {
        width: 40%;
      }
      .sq13 {
        background-color: ;
      }
      .sq14 {
        background-color: #662527;
      }
      .sq17 {
        width: 0%;
      }
      .sq16 {
        width: 100%;
        background-color: #E46A3F;
      }
      .sq15 {
        background-color: #0B3C49;
      }
      .sq18 {
        background-color: #0B3C49;
      }
      .sq20 {
        width: 0%;
      }
      .column_5 {
        width: 100%;
      }
      .rainbow {
        height: 80%;
      }
      .clown {
        margin-top: 62%;
      }
      .clown {
        margin-top: 62%;
      }
      .hair_left, .hair_right {
        margin-top: 53%;
      }
      .clown_eye {
        margin-top: 79%;
      }
      .eye_ball {
        margin-top: 28%;
      }
      .column_1_tablet {
        display: inline-block;
        width: 100%;
        height: 30%;
        vertical-align: top;
      }
      .sq20 {
        width: 50%;
        height: 60%;
      }
      .sq11 {
        width: 50%;
        height: 60%;
        background-color: #662527;
      }
      .sq12 {
        width: 40%;
        height: 40%;
        background-color: #E46A3F;
      }
      .sq17 {
        width: 60%;
        height: 40%;
      }
      .ballon {
        width: 90%;
        height: 90%;
        margin-top: 5%;
      }
      .cocktail {
        width: 85%;
        height: 85%;
        margin-top: -3%;
      }
      .hat {
        width: 90%;
        height: 90%;
        margin-top: 3%;
      }
    }
    @media (max-width: 768px) {
    .grid {
      max-width: 100%;
      }
    .container_2 {
      margin: -72% 6%;
    }
    .container_3 {
      margin: -35% 6%;
      background-color: #166A81;
    }
    .container_1 {
      margin: -52% 6%;
      background-color: #FB8055;
      height: 65%
    }
    .container_3 p {
      padding-top: 1%;
    }
    .column_1_tablet {
      display: none;
      }
    .column_2 {
      display: none;
    }
    .column_3 {
      display: none;
    }
    .column_4 {
      display: none;
    }
    .column_5 {
      display: none;
    }
    .column_4_1 {
      display: none;
    }
    .column_5_2 {
      display: none;
    }
    .column_1_mobile {
      display: inline-block;
      width: 50%;
      height: 30%;
      vertical-align: top;
    }
    .column_2_mobile {
      display: inline-block;
      width: 100%;
      height: 50%;
      vertical-align: top;
    }
    .sq2 {
      width: 60%;
      height: 60%;
      background-color: #E46A3F;
    }
    .sq6 {
      width: 40%;
      height: 60%;
    }
    .sq9 {
      width: 40%;
      height: 40%;
    }
    .sq15 {
      width: 60%;
      height: 40%;
      background-color: #0B3C49;
    }
    .fish {
      width: 70%;
      height: 70%;
      margin-top: 18%
    }
    .tear_1 {
      width: 40%;
      height: 40%;
      margin-top: 10%;
      margin-left: -10%;
    }
    .tear_2 {
      width: 40%;
      height: 40%;
      margin-top: 34%;
      margin-left: -10%;
    }
    .ice_cream {
      margin-top: 0%;
    }
    .tear_3 {
      width: 40%;
      height: 40%;
      margin-top: 10%;
      margin-left: -10%;
    }
    .column_2_1 {
      width: 50%;
      height: 30%;
    }
    .sq5 {
    width: 100%;
    }
    .sq8 {
    width: 100%;
    }
    .ribbon {
      width: 70%;
      height: 70%;
    }
    .bottle {
      width: 70%;
      height: 70%;
    }
    .column_3_mobile {
      display: inline-block;
      width: 100%;
      height: 60%;
      vertical-align: top;
    }
    .sq13 {
      width: 40%;
      height: 60%;
      background-color: #0B3C49;
    }
    .sq21 {
      width: 50%;
      height: 40%;
      background-color: #662527;
    }
    .sq22 {
      width: 50%;
      height: 40%;
      background-color: #E46A3F;
    }
    .sq11 {
      width: 60%;
      height: 60%;
    }
    .rainbow {
      width: 78%;
      height: 78%;
      margin-top: 23%;
    }
    .clown {
      width: 80%;
      height: 80%;
      margin-top: 27%;
      margin-left: -1%;
    }
    .hair_left {
      width: 50%;
      height: 50%;
      margin-top: 10%;
      margin-left: 3%;
    }
    .hair_right {
      width: 50%;
      height: 50%;
      margin-top: 10%;
      margin-left: -6%;
    }
    .clown_eye {
      width: 25%;
      height: 25%;
      margin-top: 30%;
      margin-left: -1%;
    }
    .grid h1 {
      transform: scale(1.2);
    }
    .column_5_mobile {
      display: inline-block;
      width: 100%;
      height: 35%;
      vertical-align: top;
    }
    .sq12 {
      width: 35%;
      height: 50%;
      background-color: #662527;
    }
    .sq17 {
      width: 65%;
      height: 50%;
    }
    .sq19 {
      width: 65%;
      height: 50%;
    }
    .sq18 {
      width: 35%;
      height: 50%;
      background-color: #0B3C49;
    }
    .left_hand, .right_hand {
      width: 80%;
      height: 80%;
      margin-top: 8%
    }
    .hat {
      width: 80%;
      height: 80%;
      margin-top: 8%;
    }
    .column_4_mobile {
      display: inline-block;
      width: 100%;
      height: 25%;
      vertical-align: top;
    }
    .sq10 {
      width: 100%;
      height: 100%;
      background-color: #E46A3F;
  }
    .sq21 {
      background-color: #0B3C49;
    }
    }
    @media (max-width: 320px) {
      .grid {
        max-width: 100%;
      }
      .column_1_tablet {
          display: none;
        }
   }
