
    .grid {
      margin: 0px auto;
      padding: 0px 15px;
      position: relative;
      width: 100%;
      height: 142vw;
    }
    .grid {
      text-align: center;
    }
    .grid img {
      text-align: center;
    }
    .column_1 {
      display: inline-block;
      height: 19%;
      width: 100%;
      vertical-align: top;
    }
    .column_2_1 {
      display: inline-block;
      height: 35%;
      width: 30%;
      vertical-align: top;
    }
    .column_2 {
      display: inline-block;
      height: 35%;
      width: 70%;
      vertical-align: top;
    }
    .column_3 {
      display: inline-block;
      height: 19%;
      width: 100%;
      vertical-align: top;
    }
    .column_4_1 {
      display: inline-block;
      height: 34%;
      width: 30%;
      vertical-align: top;
    }
    .column_4 {
      display: inline-block;
      height: 34%;
      width: 70%;
      vertical-align: top;
    }
    .column_5 {
      display: inline-block;
      height: 35%;
      width: 80%;
      vertical-align: top;
    }
    .column_5_2 {
      display: inline-block;
      height: 35%;
      width: 20%;
      vertical-align: top;
    }
    .sq1 {
      width: 55%;
      height: 100%;
      position: relative;
      display: inline-block;
      background-color: #0B3C49;
      vertical-align: top;
    }
    .sq2 {
      width: 25%;
      height: 100%;
      position: relative;
      display: inline-block;
      vertical-align: top;
      background-color: #A22A2F;
    }
    .sq3 {
      width: 20%;
      height: 100%;
      position: relative;
      display: inline-block;
      vertical-align: top;
      background-color: #662527;
    }
    .sq4 {
      width: 100%;
      height: 100%;
      position: relative;
      display: inline-block;
      vertical-align: top;
      background-color: #A22A2F;
    }
    .sq5 {
      width: 41%;
      height: 60%;
      position: relative;
      display: inline-block;
      background-color: #E46A3F;
      vertical-align: top;
    }
    .sq6 {
      width: 30.5%;
      height: 60%;
      position: relative;
      display: inline-block;
      background-color: #662527;
      vertical-align: top;
    }
    .sq7 {
      width: 28.5%;
      height: 60%;
      position: relative;
      display: inline-block;
      background-color: #E46A3F;
      vertical-align: top;
    }
    .sq8 {
      width: 71.5%;
      height: 40%;
      position: relative;
      display: inline-block;
      vertical-align: top;
      background-color: #0B3C49;
    }
    .sq9 {
      width: 28.5%;
      height: 40%;
      position: relative;
      display: inline-block;
      background-color: #A22A2F;
      vertical-align: top;
    }
    .sq10 {
      width: 60%;
      height: 100%;
      position: relative;
      display: inline-block;
      vertical-align: top;
      background-color: #E46A3F;
    }
    .sq11 {
      width: 20%;
      height: 100%;
      position: relative;
      display: inline-block;
      vertical-align: top;
      background-color: #A22A2F;
    }
    .sq12 {
      width: 20%;
      height: 100%;
      position: relative;
      display: inline-block;
      vertical-align: top;
      background-color: #662527;
    }
    .sq13 {
      width: 100%;
      height: 100%;
      position: relative;
      display: inline-block;
      vertical-align: top;
      background-color: #A22A2F;
    }
    .sq14 {
      width: 43%;
      height: 60%;
      position: relative;
      display: inline-block;
      background-color: #662527;
      vertical-align: top;
    }
    .sq15 {
      width: 57%;
      height: 60%;
      position: relative;
      display: inline-block;
      background-color: #E46A3F;
      vertical-align: top;
    }
    .sq16 {
      width: 50%;
      height: 40%;
      position: relative;
      display: inline-block;
      background-color: #0B3C49;
    }
    .sq17 {
      width: 50%;
      height: 40%;
      position: relative;
      display: inline-block;
      vertical-align: top;
      background-color: #A22A2F;
    }
    .sq18 {
      width: 37.5%;
      height: 35%;
      position: relative;
      display: inline-block;
      background-color: #0B3C49;
      vertical-align: top;
    }
    .sq19 {
      width: 62.5%;
      height: 35%;
      position: relative;
      display: inline-block;
      background-color: #662527;
      vertical-align: top;
    }
    .sq21 {
      width: 50%;
      height: 65%;
      position: relative;
      display: inline-block;
      vertical-align: top;
      background-color: #A22A2F;
    }
    .sq22 {
      width: 50%;
      height: 65%;
      position: relative;
      display: inline-block;
      vertical-align: top;
      background-color: #E46A3F;
    }
    .sq20 {
      width: 100%;
      height: 100%;
      position: relative;
      display: inline-block;
      vertical-align: top;
      background-color: #0B3C49;
    }
    .menu_1 {
      width: 30%;
      height: 30%;
      top: -3%;
      left: -6%;
      position: absolute;
    }
    .menu_2 {
      width: 25%;
      height: 25%;
      top: 1%;
      left: 12%;
      position: absolute;
    }
    .menu_3 {
      width: 15%;
      height: 15%;
      top: -1%;
      left: 31%;
      position: absolute;
    }
    .menu_4 {
      width: 15%;
      height: 15%;
      top: 12%;
      left: 40%;
      position: absolute;
    }
    .menu_5 {
      width: 10%;
      height: 10%;
      top: 5%;
      left: 52%;
      position: absolute;
    }
    .menu_6 {
      width: 35%;
      height: 35%;
      top: -3%;
      left: 52%;
      position: absolute;
    }
    .menu_7 {
      width: 20%;
      height: 20%;
      top: 16%;
      right: 10%;
      position: absolute;
    }
    .menu_8 {
      width: 33%;
      height: 33%;
      top: 0%;
      right: -8%;
      position: absolute;
    }
    .menu_9 {
      width: 25%;
      height: 25%;
      top: 44%;
      left: -5%;
      position: absolute;
    }
    .menu_10 {
      width: 15%;
      height: 15%;
      top: 82%;
      right: 24%;
      position: absolute;
    }
    .menu_11 {
      width: 20%;
      height: 20%;
      top: 35%;
      left: 24%;
      position: absolute;
    }
    .menu_12 {
      width: 25%;
      height: 25%;
      top: 62%;
      left: 23%;
      position: absolute;
    }
    .menu_13 {
      width: 20%;
      height: 20%;
      top: 46%;
      right: 22%;
      position: absolute;
    }
    .menu_14 {
      width: 30%;
      height: 30%;
      top: 44%;
      left: 37%;
      position: absolute;
    }
    .menu_15 {
      width: 25%;
      height: 25%;
      top: 47%;
      right: -7%;
      position: absolute;
    }
    .menu_16 {
      width: 20%;
      height: 20%;
      top: 58%;
      right: 13%;
      position: absolute;
    }
    .menu_17 {
      width: 12%;
      height: 12%;
      top: 36%;
      left: 15%;
      position: absolute;
    }
    .menu_18 {
      width: 20%;
      height: 20%;
      top: 75%;
      right: -2%;
      position: absolute;
    }
    .menu_19 {
      width: 20%;
      height: 20%;
      top: 70%;
      left: 35%;
      position: absolute;
    }
    .menu_20 {
      width: 15%;
      height: 15%;
      top: 75%;
      left: 17%;
      position: absolute;
    }
    .menu_21 {
      width: 20%;
      height: 20%;
      top: 54%;
      left: 8%;
      position: absolute;
    }
    .menu_22 {
      width: 25%;
      height: 25%;
      top: 73%;
      left: -6%;
      position: absolute;
    }
    .logo {
      width: 80%;
      height: 80%;
      margin-top: 14%;
      text-align: center;

    }
    .fish {
      width: 80%;
      height: 80%;
      margin-top: 25%;
    }
    .bottle {
      width: 80%;
      height: 80%;
      margin-top: 15%;
    }
    .ribbon {
      width: 88%;
      height: 88%;
      margin-top: 10%;
    }
    .mouth {
      width: 85%;
      height: 85%;
      margin-top: -66%;
      position: relative;
    }
    .nose {
      width: 45%;
      height: 45%;
      margin-top: 44%;
      position: relative;
      z-index: 1;
    }
    .tear_1 {
      width: 30%;
      height: 30%;
      margin-top: 20%;
      left: 65%;
      position: absolute;
    }
    .tear_2 {
      width: 30%;
      height: 30%;
      margin-top: 50%;
      left: 40%;
      position: absolute;
    }
    .tear_3 {
      width: 30%;
      height: 30%;
      margin-top: 20%;
      position: absolute;
      left: 15%;
    }
    .ball_1 {
      width: 60%;
      height: 60%;
      margin-top: 13%;
      position: absolute;
      margin-left: -60%;
    }
    .ball_2 {
      width: 60%;
      height: 60%;
      margin-top: 4%;
      position: absolute;
      margin-left: -30%;
    }
    .ball_3 {
      width: 60%;
      height: 60%;
      margin-top: 13%;
      position: absolute;
      left: 50%;
    }
    .ballon {
      width: 90%;
      height: 90%;
      margin-top: 15%;
    }
    .clown_eye {
      width: 27%;
      height: 27%;
      margin-top: 54%;
      position: absolute;
      left: 34.7%;
    }
    .clown {
      width: 80%;
      height: 80%;
      margin-top: 44%;
      position: absolute;
      left: 0%;
    }
    .hair_left {
      width: 50%;
      height: 50%;
      margin-top: 25%;
      position: absolute;
      left: 2%;
    }
    .hair_right {
      width: 50%;
      height: 50%;
      margin-top: 25%;
      position: absolute;
      left: 45%;
    }
    .eye_tear {
      width: 80%;
      height: 80%;
      margin-top: 12%;
    }
    .eye_ball {
      width: 30%;
      height: 30%;
      margin-top: 25%;
      position: absolute;
      left: 35%;
    }
    .ice_cream {
      width: 80%;
      height: 80%;
      margin-top: 1%;
    }
    .hat {
      width: 90%;
      height: 90%;
      margin-top: 8%;
    }
    .button {
      width: 80%;
      height: 80%;
      margin-top: 6%;
    }
    .left_hand {
      width: 80%;
      height: 80%;
      margin-top: 7%;
      left: -15%;
      position: absolute;
    }
    .right_hand {
      width: 80%;
      height: 80%;
      margin-top: 7%;
      left: 35%;
      position: absolute;
    }
    .rainbow {
      width: 90%;
      height: 90%;
      margin-top: 22%;
    }
    .cocktail {
      width: 80%;
      height: 80%;
      margin-top: 50%;
    }
